<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head.ejs') %>

<body>

    <%- include('./partials/header.ejs') %>


    <div id="tripleItemGrid">
        <%- include('./partials/leftSideBar.ejs') %>

        <div>
            <div class="info">
                <form action="/deporte" method="POST">
                    <label for="nombre">nombre:</label>
                    <input type="text" id="addInput" name ="nombre" required>
                    <label for="ejercicio">ejercicio:</label>
                    <input type="text" id="addInput"  name="ejercicio" required>
                    <label for="series">series:</label>
                    <input type="text" id="addInput"  name="series" required>
                    <label for="desempeño">Desempeño:</label>
                    <input type="text" id="addInput"  name="desempeño" required>
                    <label for="notas">notas:</label>
                    <textarea id="addInput" name="notas" required></textarea>
        
                    <button id="addButton"> Agregar  </button>
                </form>
            </div>   
        </div>
        <%- include('./partials/rightSideBar.ejs') %>


    </div>
</div>
<%- include('./partials/scripts.ejs') %> 

</body>

</html>