<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head.ejs') %>

<body>

    <%- include('./partials/header.ejs') %>


    <div id="tripleItemGrid">
       <%- include('./partials/leftSideBar.ejs') %>

        <div>
          <div class="info">
            
            <h1>Emprendimiento</h1>
            <select name="agregar">

            <option>Estado Financiero</option>

            <option>Plan Financiero</option>

            <option>Estragia de Inversión</option>

            <option>Educación Financiera</option>

            <option>Estrategia de Emprendimiento</option>

            <option>Plan ser rico</option>

            </select>

            <br>

            <table class="egt">
                    <tr>
                        <td>Profesión</td>
                        <td>Jugador</td>
                    </tr>
                    <tr>
                        <td colspan="2">Meta:</td>
                     </tr>
            </table>




            <table class="egt">

                    <tr>
                        <td colspan="2">Declaración de Impuestos</td>
                    </tr>
                    <tr>
                        <td colspan="2">Ingreso</td>
                    </tr>
                    <tr>
                        <td>Descripción</td>
                        <td>Flujo de efectivo</td>
                    </tr>
                    <tr>
                        <td>Salario</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Interés</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Dividendos</td>
                        <td></td>
                    </tr>

   <tr>
  <td>Bienes Raíces</td>
  <td></td>
   </tr>

   <tr>
  <td>Negocios</td>
  <td></td>
   </tr>

   <tr>
  <td colspan="2">Gastos</td>
  </tr>

  <tr>
  <td>Impuestos</td>
  <td></td>
   </tr>

   <tr>
  <td>Hipoteca</td>
  <td></td>
   </tr>

   <tr>
  <td>Pago del préstamo</td>
  <td></td>
   </tr>

   <tr>
  <td>Pago del automóvil</td>
  <td></td>
   </tr>

   <tr>
  <td>Pago tarjeta de crédito</td>
  <td></td>
   </tr>

   <tr>
  <td>Pago del crédito en casas comerciales</td>
  <td></td>
   </tr>

   <tr>
  <td>Gastos por infantes</td>
  <td></td>
   </tr>

   <tr>
  <td>Préstamos bancario</td>
  <td></td>
   </tr>

   <tr>
  <td>Otros gastos</td>
  <td></td>
   </tr>

</table>


<table class="egt">

  <tr>
    <td colspan="4">Hoja de Balance</td>
  </tr>

  <tr>
    <td colspan="3">Activos</td>
    <td colspan="1">Pasivos</td>
  </tr>

  <tr>
    <td colspan="3">Ahorros</td>
    <td colspan="1">Hipoteca:</td>
  </tr>


  <tr>
        <td rowspan="3">Acciones</td>
        <td rowspan="3">No acciones</td>
        <td rowspan="3">costo por acción</td>
        <td>Préstamos escolares</td>
  </tr>

   <tr>
        <td>Préstamos para el automóvil</td>
  </tr>

   <tr>
        <td>Tarjeta de crédito</td>
  </tr>


  <tr>
        <td rowspan="2">Bienes raíces</td>
        <td rowspan="2">Pago Inicial</td>
        <td rowspan="2">Costo</td>
        <td>Préstamos en centros de consumo</td>
  </tr>

   <tr>
        <td>Otras hipotecas</td>
  </tr>

  <tr>
        <td rowspan="2">Negocio</td>
        <td rowspan="2">Pago Inicial</td>
        <td rowspan="2">Costo</td>
        <td>Pasivo (negocio):</td>
  </tr>

   <tr>
        <td>Préstamo Bancario</td>
  </tr>
  </table>



  <table class="egt">
                    <tr>
                        <td>Auditor:</td>
                        <td>*texto de prueba*</td>
                    </tr>
                    <tr>
                        <td>Ingreso Pasivo</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td colspan="2">Ingreso Total:</td>
                     </tr>
            </table>

<table class="egt">
                    <tr>
                        <td>Número de hijos:</td>
                        <td>*texto de prueba*</td>
                    </tr>
                    <tr>
                        <td colspan="2">Gasto total:</td>
                     </tr>
            </table>

                 </div>
            
        </div>
        <%- include('./partials/rightSideBar.ejs') %>


    </div>
</div>
<%- include('./partials/scripts.ejs') %> 

</body>

</html>